name: Build and Push Docker Image

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'Dockerfile'
      - 'renv.lock'
      - 'renv/activate.R'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        run: docker build --platform=linux/amd64 . --file Dockerfile --tag fishfish69/dsci310-ia3-yujia69-docker:latest

      - name: Push the Docker image
        run: docker push fishifish69/dsci310-ia3-yujia69-docker:latest

      - name: Run cowsay test in container
        run: docker run --platform=linux/amd64 --rm fishifish69/dsci310-ia3-yujia69-docker:latest Rscript -e "cowsay::say('GitHub Action Success!', by='cow')"
